<h3 mat-dialog-title>Tambah buku</h3>
<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Judul</mat-label>
    <input matInput [(ngModel)]="data.judul">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Penerbit</mat-label>
    <input matInput [(ngModel)]="data.penerbit">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Penulis</mat-label>
    <input matInput [(ngModel)]="data.penulis">
  </mat-form-field>
</div>
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="simpan(data)">Simpan</button>
</mat-dialog-actions>
