<mat-toolbar color="primary">
  <span>Daftar Buku</span>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" class="logout" routerLink="/login">Logout</button>
</mat-toolbar>
<div style=" padding:px">
  <div class="container">
    <button class="btn-tambah" mat-raised-button color="primary" (click)="buat()">Tambah Buku</button>
    <mat-card style="width: 100%;">
      <mat-card-header>
        <mat-card-title>Daftar Buku</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of dataBuku" class="posisi1">
            <span matListAvatar class="posisi">
              <img style="height: 100px;" src="/assets/sampul.jpg" alt="">
            </span>
            <h3 matLine><b>{{item.judul}}</b></h3>
            <p matLine>
              <span> Penerbit : {{item.penerbit}} </span>
            </p>
            <p matLine>
              <span>Penulis : {{item.penulis}}</span>
            </p>
            <button class="btn-edit" mat-stroked-button color="primary" (click)="edit(item)">Edit</button>
            <button class="btn-delete" mat-stroked-button color="warn" (click)="hapus(item.id)">Hapus</button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
